doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
div(style='background:#000; margin:0;width:100%')
  table(align='center' valign='top' width='100%' border='0' cellpadding='0' cellspacing='0' background='https://upload.cc/i1/2022/09/23/9OnKJz.png')
    // 最外圍
    tbody
      tr
        td(background='https://upload.cc/i1/2022/09/23/9OnKJz.png')
          table(align='center' valign='top' width='640' border='20' cellpadding='0' cellspacing='0' style='border-color: transparent;border-top: 0;border-bottom: 0;')
            tbody
              tr
                td(width='100%')
                  table(align='center' valign='top' width='600' border='0' cellpadding='0' cellspacing='0' style='border-color: transparent;')
                    // 中間內容區
                    tbody
                      tr
                        td
                          table(align='center' valign='top' width='100%' border='0' cellpadding='0' cellspacing='0' background='https://upload.cc/i1/2022/09/23/9OnKJz.png')
                            // 上層間隔
                            tbody
                              tr
                                td(width='100%' background='https://upload.cc/i1/2022/09/23/9OnKJz.png' style='padding-top: 30px;padding-bottom: 30px;padding-left: 0;padding-right: 0;')
                          table(align='center' valign='top' width='100%' border='0' cellpadding='0' cellspacing='0' bgcolor='#fff')
                            // 中間內容
                            tbody
                              tbody
                                tr
                                  td(width='100%')
                                    img(src='https://upload.cc/i1/2022/09/23/fDhqpz.png' width='600' height='154' alt='Oh!DogCat 寵物社群平台' style=' border-top:20px solid; border-color: transparent; display:  block;max-width: 100%;  ')
                              tr
                                td(width='100%')
                                  table(align='center' valign='top' width='100%' border='20' cellpadding='0' cellspacing='0' bgcolor='#fff' style='border-top:10; border-color: transparent;')
                                    // 表頭文字區塊
                                    tbody
                                      tr
                                        td(width='100%' style='border:0;')
                                          table(align='center' valign='top' width='100%' border='0' cellpadding='0' cellspacing='0' style="font-family:'Open Sans', 'Microsoft JhengHei', arial, sans-serif ;font-size: 28px;")
                                            // 表頭文字
                                            tbody
                                              tr
                                                td(style='border-top: 10px solid transparent;' align='center')
                                                  b &#x8A02;&#x55AE;&#x5DF2;&#x6210;&#x7ACB;&#xFF01;
                                              tr
                                                td(style='border:0;')
                                                  table(border='5' style='border-color: transparent;')
                                              tr
                                                td(style='border:0;font-size: 0.75em;')
                                                  table(align='center' valign='top' width='100%' border='20' cellpadding='0' cellspacing='0' style='border-color: transparent;')
                                                    tbody
                                                      tr
                                                        td(align='left' style='font-size: .8em;') texttexttexttexttexttextte#{user_name}xttexttexttexttexttexttexttexttexttexttexttexttexttext
                                                      tr
                                                        td(style='border: 10px solid transparent;')
                                                      tr
                                                        td(align='left' style='font-size: .8em;') texttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttext
                                                  table(align='center' valign='top' width='100%' border='20' cellpadding='0' cellspacing='0' style='border-color: transparent;')
                                                    tbody
                                                      tr
                                                        td(align='center')
                                                          a(href='http://localhost:3000/admin/order' style='color: blue;') http://localhost:3000/admin/order
                                                  table(align='center' valign='top' width='100%' cellpadding='0' cellspacing='0' style='border: 20px solid transparent;')
                                                    tbody
                                                      tr
                                                        td(style='border:0;')
                                                          b &#x672C;&#x6B21;&#x7D50;&#x5E33;&#x8CC7;&#x8A0A;&#xFF1A;
                                                      tr
                                                        td(style='border:0;')
                                                          table(border='10' style='border-color: transparent;')
                                                      tr
                                                        td(width='100%' align='center' style='padding-bottom: 16px;')
                                                          table(align='center' valign='top' width='100%' border='0' cellpadding='10' cellspacing='3' style='font-size: 0.9em; border: 1px solid #e7e7e7; border-radius: 8px; font-size: .7em;')
                                                            colgroup
                                                              col(span='1' style='background-color: #e4e4e4;')
                                                              col(span='1' style='background-color: #e4e4e4;')
                                                            tbody
                                                              tr
                                                                td(style='text-align: center;letter-spacing: 1.5px; border-radius: 8px 0 0 0;')
                                                                  b &#x5546;&#x54C1;&#x540D;&#x7A31;
                                                                td(style='border-radius: 0 8px 0 0; width: 24px;') #{product_name}
                                                              tr
                                                                td(style='text-align: center;letter-spacing: 1.5px; width: 24px;')
                                                                  b &#x8CFC;&#x8CB7;&#x5F35;&#x6578;
                                                                td #{product_quantity}
                                                              tr
                                                                td(style='text-align: center;letter-spacing: 1.5px; width: 24px;')
                                                                  b &#x652F;&#x4ED8;&#x65B9;&#x5F0F;
                                                                td #{payment_type}
                                                              tr
                                                                td(style='text-align: center;letter-spacing: 1.5px; width: 24px;')
                                                                  b &#x5E97;&#x5BB6;&#x540D;&#x7A31;
                                                                td #{store_name}
                                                              tr
                                                                td(style='text-align: center;letter-spacing: 1.5px; border-radius: 0 0 0 8px;')
                                                                  b &#x7E3D;&#x91D1;&#x984D;
                                                                td(style='border-radius: 0 0 8px 0;') #{total}
                                  table(align='center' valign='top' width='100%' border='0' cellpadding='0' cellspacing='0' bgcolor='#fff')
                                    // 按鈕
                                    tbody
                                      tr
                                        td(width='100%')
                                          table(align='center' valign='top' width='100%' border='0' cellpadding='0' cellspacing='0')
                                            // 文字 & 按鈕
                                            tbody
                                              tr
                                                td(width='100%' align='center' style='padding-top: 0px;padding-bottom: 0px;padding-left: 20px;padding-right: 20px;')
                                                  table(align='center' valign='top' width='100%' border='0' cellpadding='0' cellspacing='0' style='max-width: 550px;')
                                                    tbody
                                                      tr
                                                        td
                                                          table(align='center' valign='top' width='100%' border='0' cellpadding='0' cellspacing='0' style='padding-top: 10px;padding-bottom: 10px;')
                                                            tbody
                                                              tr
                                                                td(align='center')
                                                                  a(href='http://localhost:3000/admin/order' style='color:#ffffff;border-radius:100px;display:block;text-decoration:none;')
                                                                    img(src='https://upload.cc/i1/2022/10/01/m4hI61.png' width='400' height='100' alt='前往訂單管理' style='display: block;max-width: 100%;')
                                                              tr
                                                                td(align='center')
                                                                  table(border='20' style='border-color: transparent;')
                                                              tr
                                                                td
                                                                  table(border='10' style='border-color: transparent;')
                          table(align='center' valign='top' width='100%' border='0' cellpadding='0' cellspacing='0' background='https://upload.cc/i1/2022/09/23/9OnKJz.png')
                            // 下層間隔
                            tbody
                              tr
                                td(width='100%' background='https://upload.cc/i1/2022/09/23/9OnKJz.png' style='padding-top: 30px;padding-bottom: 30px;padding-left: 0;padding-right: 0;')
          // 邊框
